{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block content %}

    <form class="form container form--invalid" action="{% url 'VikMessage:signUp' %}" method="post" autocomplete="off"> <!-- form
    --invalid -->
      <h2>Регистрация нового аккаунта</h2>
      <div class="form__item">
        <label for="name">Имя<sup>*</sup></label><br>
        <input id="name" type="text" name="name" placeholder="Введите имя">
      </div>
      <div class="form__item"> <!-- form__item--invalid -->
        <label for="phone">Номер телефона<sup>*</sup></label><br>
        <input id="phone" type="tel" name="phone" placeholder="+7хххххххххх" pattern="+7[0-9]{10}">
      </div>
      <div class="form__item">
        <label for="password">Пароль<sup>*</sup></label><br>
        <input id="password" type="password" name="password" placeholder="Введите пароль">
      </div>
      <br>
      <button type="submit" class="button">Зарегистрироваться</button><br><br>
      <a class="text-link" href="#">Уже есть аккаунт</a>
    </form>



{% endblock %}
